:root {
  --titlebar: #0a0a3d;
  --primary: #112233;
  --secondary: #775599;
  --highlights: #fadec5;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--titlebar);
  color: var(--highlights);
  overflow-y: hidden;
}

#main {
  position: absolute;
  display: grid;
  width: 100%;
  height: calc(100% - 32px - 4px - 4px);
  margin-top: calc(32px + 4px);
  grid-template-columns: 5fr 6fr 5fr;
  overflow: hidden;
  background-color: var(--primary);
}

#user-tab {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

#lesson-tab {
  height: 95%;
  width: 95%;
  margin-top: 3.75%;
  background-color: var(--secondary);
  box-shadow: 0px 0px 0px 10px #5544aa;
  /* border-radius: 30px; */
}
