@import 'var.css';

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  margin-right: 10px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
  overflow-y: hidden;
  font-family: var(--font-text);
}

.windowed #main {
  grid-template-columns: 1fr;
}

.windowed #lesson-tab {
  margin: 25px;
}

.windowed #user-tab {
  display: none;
}

.windowed #detail-tab {
  display: none;
}

#main {
  position: absolute;
  display: grid;
  width: 100%;
  height: calc(100% - 32px - 4px - 4px);
  margin-top: calc(32px + 4px);
  grid-template-columns: 5fr 6fr 5fr;
  column-gap: 10px;
  overflow: hidden;
  background-color: var(--color-primary);
}

#user-tab {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

#user-details {
  margin: 25px;
  font-size: 16px;
  background-color: var(--color-secondary);
  border-radius: 25px;
  border-width: 10px;
  border-color: var(--color-border);
  box-shadow: 5px 5px 0px 0px var(--color-drop);
}

#user-details .user-elements > img {
  margin-top: 25px;
  margin-left: 25px;
  vertical-align: middle;
  border-radius: 25px;
  border-width: 0px;
  box-shadow: 2.5px 2.5px 0px 0px var(--color-shadow);
}

#user-details .user-elements > span {
  margin-left: 25px;
}

#achievements {
  margin: 25px;
  margin-top: 0px;
  background-color: var(--color-secondary);
  border-radius: 25px;
  border-width: 10px;
  border-color: var(--color-border);
  box-shadow: 5px 5px 0px 0px var(--color-drop);
  overflow-y: auto;
}

#achievements .user-elements > img {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 0px;
  vertical-align: middle;
  border-radius: 25px;
  border-width: 0px;
  box-shadow: 2.5px 2.5px 0px 0px var(--color-shadow);
}

#achievements .user-elements > span {
  margin-left: 15px;
}

.achievement-name {
  margin-top: 15px;
  font-size: 14px;
  text-decoration: underline;
}

.achievement-desc {
  font-size: 12px;
}

.achievement-modal {
  margin-left: calc((100% - 30%) / 2);
  margin-right: calc((100% - 30%) / 2);
  margin-top: 10%;
  margin-bottom: 10%;
  width: 30%;
  height: 15%;
  top: 0px;
  position: fixed;
  z-index: 10;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 0px 5px var(--color-drop);
}

.achievement-modal .user-elements > img {
  left: 50%;
  transform: translate(-50%, 0);
  margin: 15px;
  vertical-align: middle;
  border-radius: 25px;
  border-width: 0px;
  box-shadow: 2.5px 2.5px 0px 0px var(--color-shadow);
}

.achievement-modal .achievement-name {
  margin-top: 15px;
  font-size: 14px;
  text-decoration: underline;
}

.achievement-modal .achievement-desc {
  font-size: 12px;
}

.achievement-modal button {
  margin-right: 15px;
  background-color: var(--color-ternary);
  color: var(--color-text);
  width: 10vh;
  height: 5vh;
  border-style: solid;
  border-radius: 25px;
  border-width: 0.5vh;
  border-color: var(--color-border);
  box-shadow: 2.5px 2.5px 0px 0px var(--color-shadow);
  transition: border-radius 500ms ease-in;
  font-family: var(--font-text);
  font-size: 2vh;
}

#lesson-tab {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: var(--color-secondary);
  box-shadow: 0px 2.5px 0px 2.5px var(--color-drop);
  border-radius: 25px;
  border-width: 10px;
  overflow-y: auto;
}

.course-segment {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.5%;
  margin-left: 20%;
  width: 60%;
  justify-items: center;
  align-items: center;
}

.course-segment > .course-title {
  grid-column: 1/-1;
  justify-self: center;
  text-align: center;
  width: 80%;
}

.course-endmark {
  margin-bottom: 5vh;
  border: 0;
  border-top: 1px solid var(--color-text);
}

.lesson-button {
  background-color: var(--color-ternary);
  color: var(--color-text);
  width: 15vh;
  height: 15vh;
  border-style: solid;
  border-radius: 5vh;
  border-width: 1vh;
  border-color: var(--color-border);
  box-shadow: 2.5px 2.5px 0px 0px var(--color-shadow);
  transition: border-radius 500ms ease-in;
  font-family: var(--font-text);
  font-size: 2vh;
}

.lesson-button.mastered {
  background-color: var(--color-mastery);
}

.lesson-button.selected {
  background-color: var(--color-highlight);
  border-radius: 2.5vh;
}

.course-modal {
  margin-left: calc((100% - 30%) / 2);
  margin-right: calc((100% - 30%) / 2);
  margin-top: 10%;
  margin-bottom: 10%;
  width: 30%;
  height: 70%;
  top: 0px;
  position: fixed;
  z-index: 10;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 0px 5px var(--color-drop);
}

.modal-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 110%;
  height: 110%;
  background-color: var(--color-backdrop);
  opacity: 40%;
  z-index: 5;
}

#progress-bar {
  margin-top: 5%;
  margin-bottom: 80%;
  padding: 1vh;
  width: auto;
  height: auto;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0px;
  position: fixed;
  z-index: 9;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 0px 5px var(--color-drop);
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-point {
  border-radius: 15px;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-text);
}

.progress-todo {
  background-color: var(--color-todo);
  opacity: 40%;
}

.progress-passed {
  background-color: var(--color-passed);
}

.progress-failed {
  background-color: var(--color-failed);
}

#course-modal .task-menu-button {
}

#course-modal .task-button {
}

#course-modal .task-button.selected {
}

#course-modal .task-button.matched {
}

#detail-tab {
  margin: 25px;
  background-color: var(--color-secondary);
  box-shadow: -5px 5px 0px 0px var(--color-drop);
  border-radius: 25px;
  border-width: 10px;
  overflow-y: auto;
}

#lesson-info {
  margin: 25px;
}
