@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --color-titlebar: #fadec5;
  --color-title-text: #112233;
  --color-primary: #f3eacb;
  --color-secondary: #dbcfa2;
  --color-ternary: #f55a46;
  --color-border: #db614b;
  --color-drop: #db614b;
  --color-shadow: #8f352f;
  --color-highlight: #7a77db;
  --color-mastery: #bfccdb;
  --color-text: #112233;
  --font-title: 'Lobster', cursive;
  --font-text: 'Montserrat', sans-serif;
}

:root.dark {
  --color-titlebar: #22345c;
  --color-title-text: #dae5f2;
  --color-primary: #203d5c;
  --color-secondary: #4f255c;
  --color-ternary: #db7a5c;
  --color-border: #6e2545;
  --color-drop: #6e2545;
  --color-shadow: #5c1548;
  --color-highlight: #7668db;
  --color-mastery: #5d6cdb;
  --color-text: #dae5f2;
  --font-title: 'Lobster', cursive;
  --font-text: 'Montserrat', sans-serif;
}
